<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index2.css">
    <title>TEAM RAW</title>
</head>
<body>
    
    <h1 div="heading">TEAM RAW</h1>
    <img class="img1" src="https://media.istockphoto.com/id/1272744431/photo/theyre-ready-to-push-towards-success-with-tenacity-and-confidence.jpg?b=1&s=612x612&w=0&k=20&c=MUrpFbkOlwdm-Y6K7296Gzyp5FX51laZgIwLwkVev8U=" alt="">
    <div class="list">
        <div class="ra">
        <ul class="create">
        <li class="section">PRANEETH        - 22071A6253 </li>
        <li class="section">YESHASWINI      - 22071A6262 </li>  
        <li class="section">RAGHAVENDRA SAI - 22071A6263 </li>
        <li class="section">HEMALATHA       - 22071A6248 </li>
        <li class="section">CHANDRASHEKAR   - 22071A6227 </li>
    </ul>
        </div>
        <div class="raa">
    <ul class="update">
    <li class="hero"><img class="img2" src="../photos/praneeth.jpg" alt=""></li>
    <li class="hero"><img class="img2" src="../photos/yeshu.jpg" alt=""></li>
    <li class="hero"><img class="img2" src="../photos/raghava.jpg" alt=""></li>
    <li class="hero"><img class="img2" src="../photos/nandhu.jpg" alt=""></li>
    <li class="hero"><img class="img2" src="../photos/chandhu.jpg" alt=""></li>
    </ul>
</div>
</div>
</body>
</html>